@media screen and (min-width: 775px) {
  .blue-dress-xv.slide {
    object-position: 50% 0%;
  }

  .mario-lopez.slide {
    object-position: 50% 45%;
  }
}

@media screen and (max-width: 775px) {
  .mario-lopez.slide {
    object-position: 100% 0%;
  }

  .blue-dress-xv.slide {
    object-position: 80% 0%;
  }
}

.wedding {
  object-position: 0% 20%;
}

@media screen and (max-width: 768px) {
  .wedding {
    object-position: 100% 0%;
  }
}