.goog-te-gadget {
  color: white;
  font-weight: 200 !important;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goog-te-gadget span a {
  display: none;
}

.goog-te-gadget span img {
  width: 52px;
  height: 20px;
  margin: 0 auto;
}

.goog-te-combo {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  text-align: center !important;
  border: solid 1px white;
  color: red;
  border-radius: 8px;
  font-weight: 300 !important;
  text-align-last: center;
  width: 100%;
  padding: 3px 0;
}

.goog-te-combo option {
  text-align: center;
}

.goog-te-combo:hover {
  cursor: pointer;
}
